@import "./../../variables.scss";

.dropdown-wrapper {
  width: 255px;
  height:30px;
  position: relative;
  margin-left: 20px;
  font-size: 16px;
  &.is-disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  .selected-section {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    cursor: pointer;
    border-bottom: 1px #727c8a solid;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    position: relative;
    .arrow-icon{
      position: absolute;
      right: 10px;
      font-size: 10px;
    }
  }

  .list-section {
    position: absolute;
    z-index: 9;
    max-height: 400px;
    overflow: scroll;
    background-color: $white;
    width: 100%;
    border-radius: 4px;
    border: 1px #727c8a solid;
    top: 30px;

    .item {
      padding: 0 18px;
      cursor: pointer;

      .item-text {
        padding: 18px 0;
      }

      &:hover {
        background: #f7f7f7;
      }
    }
  }
}